<header class="second-header">
  <div class="header-left">
    <div class="fas fa-film fa-5x"></div>
    <div class="rogo-string">
      <span class="rogo">movie</span><br>
      <span class="rogo-bottom">now</span>
    </div>
  </div>
  <div class="header-right">
    
  </div>
</header>