// トップページ
.header-image{
  background-image: image-url('rob-laughter-WW1jsInXgwM-unsplash.jpg');
  background-size:cover;
}
.index-main{
  background-image: image-url('gwen-king-m3th3rIQ9-w-unsplash.jpg');
  background-size:cover;
  background-attachment: fixed;
}
.main-footer-block{
  background-image: image-url('merch-husey-EEZgog4AS5M-unsplash.jpg');
  background-size:cover;
}
// 検索結果ページ
.second-header-block{
  background-image: image-url('rob-laughter-WW1jsInXgwM-unsplash.jpg');
  background-size:cover;
  width:100vw;
}
.search-room{
  background-image: image-url('jake-hills-23LET4Hxj_U-unsplash.jpg');
  background-size:cover;
  background-attachment: fixed;
}
.second-footer-block{
  background-image: image-url('merch-husey-EEZgog4AS5M-unsplash.jpg');
  background-size:cover;
}
// 映画詳細ページ
.movie-show{
  background-image: image-url('chirayu-trivedi-wzvy-_V3e2E-unsplash.jpg');
  background-size:cover;
  background-attachment: fixed;
}
// 作品投稿ページ
.post-main{
  background-image: image-url('jakob-owens-CiUR8zISX60-unsplash.jpg');
  background-size:cover;
  background-attachment: fixed;
}
// 新規投稿ページ
.registration-main{
  background-image: image-url('joel-de-vriend-b0NIvzr0PpY-unsplash.jpg');
  background-size:cover;
  background-attachment: fixed;
}
// マイページ
.user-myroom{
  background-image: image-url('eric-terrade-hCDI6sPTjRY-unsplash.jpg');
  background-size:cover;
  background-attachment: fixed;
}